<ion-view view-title="Job Detail">
	<ion-content scroll="false"> 
	<h1>Hello!</h1>
		{{job.address}}
		{{job.firstName}}
      {{job.lastName}}
	      {{job.phoneNumber}}	      	      	      
	      <p>123 Fake Lane</p>
	      <p>John Doe</p>
	      <p>123-456-7897</p>
	      <p>confirmation code: {{job.confirmationCode}}</p>
	      <p>Note: All transactions are cash</p>
	      
	<div id="map_canvas">
	    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
	        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
	        </ui-gmap-marker>
	    </ui-gmap-google-map>    
	</div>
	      
	</ion-content>
</ion-view>