<ion-view view-title="Job Detail">
	<ion-content scroll="false">
				<p ng-if="user.userType == 'shoveler'">Customer Name: {{job.customerFirstName}} {{job.customerLastName}}</p>
				<p ng-if="user.userType == 'customer'">Shoveler Name: {{job.shovelerFirstName}} {{job.shovelerLastName}}</p>
	      <p>Address: {{job.address}}</p>
	      <p>Phone Number: {{job.phoneNumber}}</p>
	      <p>Confirmation Code: {{job.confirmationCode}}</p>
	      <p>Additional Info: {{job.notes}}</p>
	      <p>Note: All transactions are cash</p>
	<div id="map_canvas">
	    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
	        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
	        </ui-gmap-marker>
	    </ui-gmap-google-map>
	</div>

	</ion-content>
</ion-view>
