<ion-view view-title="Find Jobs" hide-tabs>
  <ion-content>
    <div class="list card" ng-repeat="job in jobs">
      <div class="row">                    
          <div class="col col-70">
            <p>Phone: {{job.phoneNumber}}</p>
            <p>Address: {{job.address}}</p>
            <p>Offering: {{job.price}}</p>
            <p>Notes: {{job.notes}}</p>        
        </div>
        <div class="col col-30 pull-right">
          <img src="http://dir.coolclips.com/clipart/150/vgjm/tf05367/CoolClips_vc107580.jpg" class="pull-right" class="snow-list-image">
        </div>
      </div>
      <a href="#/tab/jobDetail/{{job._id}}">
        <button class="button button-full button-balanced">
            Accept
          </button>        
      </a>                                               
    </div> 
  </ion-content>  
</ion-view>     