<ion-view view-title="Jobs">
  <ion-content>

    
    <div class="list card" ng-repeat="job in jobs">
      <div class="row">
      
          {{job.firstName}} 
          {{job.lastName}}  
      
          <div class="col col-70">
          <p>Phone: {{job.phoneNumber}}</p>
          <p>Location: 16 Nowhere st</p>
          <p>Offering: $120</p>
          <p>Notes: This sidewalk is narrow</p>        
        </div>
        <div class="col col-30 pull-right">
          <img src="http://placehold.it/100x100" class="pull-right">
        </div>
      </div>
      <a href="#/jobDetail/{{job.id}}" class="item">
          <button class="button button-full button-balanced">
            <h2>Accept</h2>
          </button>
          </a>                            
    </div>
    

  </ion-content>
</ion-view>

     