<ion-view view-title="Jobs" hide-tabs>


<ion-content>
    <div class="list card" ng-repeat="job in jobs">
      <div class="row">                    
          <div class="col col-70">
            <p>Phone: {{job.phoneNumber}}</p>
            <p>Address: {{job.address}}</p>
            <p>Offering: {{job.price}}</p>
            <p>Notes: {{job.notes}}</p>        
        </div>
        <div class="col col-30 pull-right">
          <img src="http://placehold.it/100x100" class="pull-right">
        </div>
      </div>
      <a href="#/tab/jobDetail/{{job._id}}">
        <button class="button button-full button-balanced">
            <h2>Accept</h2>
          </button>        
      </a>
          
                                     
    </div> 

  </ion-content> 



</ion-view>

     