<ion-view view-title="Past Jobs">
  <ion-content>
  
          

    <div class="list card" ng-repeat="job in jobs">
      <div class="row">


          
          <!-- {{job.customerFirstName}} {{job.customerLastName}} -->

          <div class="col col-70">

            <p>Noah Teshu</p>
            <p></p>
            <p>123 Pleasant Lane</p>
          
        </div>
        <div class="col col-30 pull-right">
        <a href="mailto:customerservice@snope.com?subject=Report from Job #{{job.id}}" class="item">
          <button class="button  button-assertive">
            <h2>Report</h2>
          </button>
        </a>
        
        </div>
      </div>
      
    </div>


  </ion-content>
</ion-view>
