<ion-view view-title="Post New Job">
  <ion-content>    
    <div class="list list-inset">
      <h1>Create Job</h1>
      
      <label class="item item-input">
        <input type="text" placeholder="Address" ng-model="job.address">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="City" ng-model="job.city">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="State" ng-model="job.state">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Zip Code" ng-model="job.zipCode">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Phone Number" ng-model="job.phoneNumber">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Fee Offered" ng-model="job.price">
      </label>  
      <label class="item item-input">
        <textarea placeholder="Notes" ng-model="job.notes"></textarea>
      </label>
      <button class="button button-block button-positive activated" ng-click="getPhoto()">Add Photo</button>
      
      <button class="button button-block button-positive activated" ng-click="postJob()">Post Job</button>
    </div>
    
    
  </ion-content>
</ion-view>

     