<ion-view view-title="Login">
  <ion-content> 
<div class="list list-inset">
  <h1>Create Account</h1>
  <label class="item item-input">
    <input type="text" placeholder="First Name" ng-model="user.firstName">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Last Name" ng-model="user.lastName">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Username" ng-model="user.username">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Phone Number" ng-model="user.phoneNumber">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Address" ng-model="user.address">
  </label>  
  <button class="button button-block button-positive activated" ng-click="signup()">Sign Up</button>
</div>

</ion-content>
  </ion-view>