<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-controller="GlobalTabCtrl">

  <!-- Previous Jobs Tab -->
  <ion-tab title="Previous Jobs" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/pastJobs">
    <ion-nav-view name="tab-pastJobs"></ion-nav-view>
  </ion-tab>
  
  <!-- New Jobs Tab -->
  <ion-tab title="New Jobs" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" ng-click="setLink()">
    <ion-nav-view name="tab-jobs"></ion-nav-view>
  </ion-tab>

  <!-- Create Job -->
  

  <!-- New Jobs Tab -->
  <ion-tab title="In Progress" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/inProgress">
    <ion-nav-view name="tab-inProgress"></ion-nav-view>
  </ion-tab>
  
  <!-- Update User Information Tab -->
  <ion-tab title="Update My Information" icon-off="ion-ios-person" icon-on="ion-ios-person-strong" href="#/update">
    <ion-nav-view name="tab-update"></ion-nav-view>
  </ion-tab>

</ion-tabs>
